body 
div .container {
	width: 700px;
	height: 10 auto;
	padding: 30px;
	border-radius: 4px;                        
	box-shadow: 0 10px 30px rgba(0,0,0,.1);
	background-color: white;
	color: rgb(30, 30, 30);
	font-family: courier;
	font-size: 50px;
}

h1 {
	color: #FF6F61;
	font-family: Helvetica;
	font-size: 50px;
}
a {
	text-decoration: none;
	font-size: 30px;
	font-family: sans-serif;
	color: #7BC9B6;
	}

a:hover {
	color: blueviolet;
}
.container {
	width: 700px;
	margin: 10px auto;
	}
.card-white {
	background: white;
	padding: 40px;
	box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.1);
	border-radius: 4px;
	margin: 20px 0px;
	text-align: center;
}
.image-circle {
	width: 100px;
	height: 100px;
	border-radius: 50%;
	}
.btn-purple a {
	background-color: yellow;
	color: black;
	padding: 10px 20px;
	border-radius: 4px;
	}
.btn-purple:hover {
background-color: black;
color: white;
}
.list-inline {
	list-style: none;
	padding-left: 0px;
}
.list-inline li {
	display: inline;
	padding: 10px;
}
.list-inline li {
	font-size: 50px;
	color: rgb(230, 230, 230);
}
.list-inline i:hover {
	color: black;
}
#introduction p {
	margin-bottom: 40px;
}

@media (max-width:  768px) {
	.container {
		width: 500px;
	}
}
@media (max-width:  576px) {
	.container {
		width: 300px;
	}
}